/* rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* propiedades de la caja */

.contenedor {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 500px;

  /* justificacion */
  justify-items: center;
  align-items: center;
}
.item-uno {
  background-color: rosybrown;
  justify-self: end;
  align-self: center;
}

/* estilos ejemplo 2  */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
  gap: 10px;

  grid-template-areas:
    "header header header"
    "main main section"
    "main main aside"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: #f0f0f0;
}
main {
  background-color: aqua;
  grid-area: main;
}

section {
  background-color: blue;
  grid-area: section;
}
aside {
  background-color: rgb(33, 33, 126);
  grid-area: aside;
}

footer {
  background-color: bisque;
  grid-area: footer;
}
